ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  height: 100%;
  width: 100%;
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #010b26;
  padding-top: 100px;
  padding-bottom: 30px;
  @media screen and (max-width: 767.99px) {
    padding-top: 130px;
  }
}

* {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.intro {
  text-align: center;
}

body {
  background: #e9e9e9;
  // background-image: url('../images/bgi/alIPFZ3-movie-backgrounds.webp');
  // background-image: url('../images/bgi/kyUHAQm-movie-backgrounds.webp');
  background-image: url('https://i0.wp.com/ravemotionpictures.com/wp-content/uploads/2022/03/Best-Movies-on-Netflix.jpg?w=1512&ssl=1');
  // background-image: url('https://images4.alphacoders.com/177/thumb-1920-177754.jpg');
  // background-image: url('https://wallpaperaccess.com/full/240170.jpg');

  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// Визуально скрытый для пользователя
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

// цвет для пагинатора
.current-accent-page {
  background-color: #ff6b08;
  color: #e9e9e9;
}
