footer{
 
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(225, 225, 74);
    // z-index: 1000;
    // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 400;
        // font-size: 14px;
        // line-height: 16px;
        // // display: flex;
        // // align-items: center;
        // // text-align: center;
        // color: #545454;
}

// .container{
//     width: 320px;
//     height: 100px;
// }

.footer__copyright {
    text-align: center;
}

// .footer__developers{
//     display: flex;
//     justify-content: center;
    
// }

.icon-group{
    width: 14px;
    height: 12.75px;
}
// // произвольно взял вертикальные паддинги секции по 10px
// .footer {
//     position: relative;
//     padding: 10px 0;
// }

// .footer::after {
//     content: '';
//     position: absolute;
//     width: 100%;
//     left: 0px;
//     bottom: 89px;

//     border: 1px solid #e1e1e1;

//     @media screen and (min-width: 768px) {
//         bottom: 73px;
//     }

//     @media screen and (min-width: 1200px) {
//         bottom: 45px;
//     }
// }

// .footer__wrapper {
//     margin-bottom: 65px;

//     @media screen and (min-width: 768px) {
//         display: flex;
//         justify-content: space-between;

//         margin-bottom: 120px;
//     }

//     @media screen and (min-width: 1200px) {
//         margin-bottom: 106px;
//     }
// }

// .footer__slogan {
//     @media screen and (max-width: 767px) {
//         margin-bottom: 43px;
//     }

//     @media screen and (min-width: 768px) {
//         display: flex;
//         flex-direction: column;
//     }
// }

// .footer__text {
//     font-family: Titan One;
//     font-weight: 400;
//     font-size: getFont('lable-size-mobile');
//     line-height: 1.17;
//     text-transform: uppercase;
//     color: getColor('lable-color-text');

//     margin-bottom: 17px;

//     @media screen and (min-width: 768px) {
//         font-size: getFont('pretitle-hero-mobile');
//         line-height: 1.15;
//         letter-spacing: 0.04em;

//         margin-bottom: 16px;
//     }

//     @media screen and (min-width: 1200px) {
//         display: flex;
//         font-size: getFont('lable-size-laptop');
//         line-height: 1.13;

//         margin-bottom: 15px;
//     }
// }

// .footer__text--begin {
//     @media screen and (min-width: 1200px) {
//         margin-right: 9px;
//     }
// }

// .footer__title {
//     font-family: Titan One;
//     font-weight: normal;
//     font-size: getFont('title-secondary-mobile');
//     line-height: 1.15;
//     letter-spacing: 0.04em;
//     text-transform: uppercase;
//     color: getColor('title-color-main-text');

//     @media screen and (min-width: 768px) {
//         font-size: getFont('title-hero-mobile');
//         line-height: 1.15;
//         letter-spacing: 0.06em;
//     }

//     @media screen and (min-width: 1200px) {
//         display: flex;
//         font-size: getFont('title-hero-laptop');
//         line-height: 1.14;
//     }
// }

// .footer__title--begin {
//     @media screen and (min-width: 1200px) {
//         margin-right: 18px;
//     }
// }

// .footer__connection {
//     @media screen and (min-width: 768px) {
//         display: flex;
//         flex-direction: column;
//     }
// }

// .footer__list {
//     display: flex;
//     justify-content: end;
//     margin-bottom: 46px;

//     @media screen and (min-width: 1200px) {
//         margin-bottom: 50px;
//     }
// }

// .footer__item {
//     width: 32px;
//     height: 32px;

//     @media screen and (min-width: 768px) {
//         width: 34px;
//         height: 34px;
//     }
// }

// .footer__item:not(:last-child) {
//     margin-right: 28.24px;

//     @media screen and (min-width: 768px) {
//         margin-right: 30px;
//     }
// }

// .footer__link {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     background-color: getColor('background-main-link');
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .footer__link:hover,
// .footer__link:focus {
//     background-color: getColor('title-color-main-text');
// }

// .footer__icon.github {
//     width: 18.82px;
//     height: 18.82px;

//     @media screen and (min-width: 768px) {
//         width: 20px;
//         height: 20px;
//     }
// }

// .footer__icon.telegram {
//     position: absolute;
//     top: 27%;
//     left: 15%;
//     width: 19.2px;
//     height: 14.93px;

//     @media screen and (min-width: 768px) {
//         width: 20.4px;
//         height: 15.87px;
//     }
// }

// .footer__icon.facebook {
//     width: 8.8px;
//     height: 19.2px;

//     @media screen and (min-width: 768px) {
//         width: 9.35px;
//         height: 20.4px;
//     }
// }

// .footer__contact {
//     display: flex;
//     justify-content: end;
//     font-family: DM Sans;
//     font-weight: 700;
//     font-size: getFont('mine-size-mobile');
//     line-height: 1.83;
//     text-align: right;

//     @media screen and (min-width: 768px) {
//         font-size: getFont('secondary-size-mobile');
//         line-height: 1.86;
//     }

//     @media screen and (min-width: 1200px) {
//         font-size: getFont('samebtn-size-mobile');
//         line-height: 1.88;
//         letter-spacing: 0.02em;
//     }
// }

// .footer__contact--text {
//     margin-right: 3px;
//     color: #000000;
// }

// .footer__contact--tel {
//     color: getColor('title-color-main-text');
// }

// .footer__copyright {
//     font-family: DM Sans;
//     font-weight: 700;
//     font-size: getFont('secondary-size-mobile');
//     line-height: 1.5;
//     text-align: center;
//     color: getColor('gray-color-text');
//     padding-bottom: 15px;

//     @media screen and (min-width: 768px) {
//         display: flex;
//         justify-content: center;

//         line-height: 1.86;
//         letter-spacing: 0.02em;

//         padding-bottom: 8px;
//     }

//     @media screen and (min-width: 768px) {
//         padding-bottom: 0;
//     }
// }