@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

:root {
  /* Base font size */
  font-size: 10px;

  /* Heading height variable*/
  // --heading-height: 6em;
}

.header {
  font-size: 16px;
  position: fixed;
  width: 100%;
  height: 8em;
  min-width: 20em;
  z-index: 1;

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header/mobile-chairs-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/mobile-chairs-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    position: fixed;
    width: 100%;
    height: 6em;

    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/tablet-chairs-1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header/tablet-chairs-2x.jpg);
    }
  }
  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/laptop-chairs-1x.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header/laptop-chairs-2x.jpg);
    }
  }
}

.header-container {
  display: grid;
  grid-template-columns: 1.3fr 0.1fr 2.2fr;
  grid-template-rows: 1.4fr 0.1fr 1.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'header__home . header__navigation'
    '. . .'
    'header__search header__search header__search';

  justify-items: center;
  align-items: baseline;
  align-content: stretch;

  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.header__home {
  cursor: pointer;
  margin-right: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    '. . .'
    '. logo .'
    '. . .';
  grid-area: header__home;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__logo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  grid-area: logo;
}

.header__title {
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.875em;
    line-height: 2.188em;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  @media screen and (min-width: 1023.99px) {
    display: none;
  }
}

.header__search {
  grid-area: header__search;
}

.header__search--form {
  position: relative;

  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }
}

.header__search--input {
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  color: #ffffff;
  outline: none;
  min-width: 280px;
  margin-right: auto;
  margin-left: auto;
  &:hover,
  &:focus {
    color: #ff6b08;
  }
}

.header__search--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -5px;
}

.header__search--icons {
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  color: #ffffff;
  outline: none;
  min-width: 280px;
  margin-right: auto;
  margin-left: auto;
  &:hover,
  &:focus {
    color: #ff6b08;
  }
}

// .header__search--error {
//   font-family: 'Roboto';
//   font-weight: 400;
//   font-size: 10px;
//   line-height: 1.6;
//   max-width: 100%;

//   color: #ff001b;
//   margin-top: 5px;

//   @media screen and (min-width: 768px) {
//     font-size: 14px;
//     line-height: 1.14;
//   }
// }

.header__navigation {
  display: grid;
  grid-template-columns: 0.4fr 1.7fr 0.9fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    '. . .'
    '. nav .'
    '. . .';
  grid-area: header__navigation;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: nav;

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.header__item {
  min-width: 85px;

  @media screen and (min-width: 768px) {
    min-width: 50px;
  }
}

.header__link {
  font-family: 'Roboto';

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
}

.current {
  position: relative;
}

.current::after {
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  top: 20px;
  background: #ff6b08;
  border-radius: 2px;
  position: absolute;
}

.header__search--input::placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #ffffff;
}
