#player {
  width: 804px;
  height: 450px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 700;
  @media screen and (max-width: 768px) {
    height: 93vh;
    left: 0px;
    top: 0px;
    max-width: 100vw;
    // height: 80%;
  }
}

.backdrop-youtube {
  position: absolute;
}

.youtubeg {
  position: absolute;
  top: 14px;
  left: 387px;
  z-index: 900;

  border: none;
  border-radius: 50%;
  background-color: rgba(255, 107, 1, 0.1);
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff6b08;

  @media screen and (max-width: 768px) {
    top: 50px;
    left: 46vw;
  }
}

// .youtubeg2 {
//   width: 30px;
//   height: 30px;
// }
