{{#with this}}

  <a href='' class='share youtube'>
    <svg role='presentation' class='svg--icon'>
      <use xlink:href='#svg--youtube'></use>
      <span class='clip'>YOU-TUBE</span>
    </svg>
  </a>

{{/with}}