<footer>
    <div class="container">
        <div class="footer__container">
            <p class="footer__copyright">&copy; 2022 | All Rights Reserved |</p>
            <div class="footer__developers">
                <p>Developed with
                <svg class="icon-group">
                    <use href="/images/svg/sprite.svg#icon-group">
                </svg>
                by <a href="https://goit.ua/" target="_blank" rel="noreferrer noopener" title="Our Super Team">GoIT Students</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- <div class="example"></div>

<footer class="footer">
    <div class="container">
        <h2 class="visually-hidden">Telephone and social networks</h2>
        <div class="footer__wrapper">
            <div class="footer__slogan">
                <div class="footer__text">
                    <p class="footer__text--begin">homemade ice cream</p>
                    <p>made</p>
                </div>

                <div class="footer__title">
                    <p class="footer__title--begin">with</p>
                    <p>passion</p>
                </div>
            </div>

            <div class="footer__connection">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="https://github.com/" target="_blank" rel="noreferrer noopener">
                            <svg class="footer__icon github">
                                <use href="images/svg/symbol-defs.svg#icon-github">
                            </svg>
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="https://telegram.org/" target="_blank" rel="noreferrer noopener">
                            <svg class="footer__icon telegram">
                                <use href="images/svg/symbol-defs.svg#icon-telegram">
                            </svg>
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="https://www.facebook.com/" target="_blank"
                            rel="noreferrer noopener">
                            <svg class="footer__icon facebook">
                                <use href="images/svg/symbol-defs.svg#icon-facebook">
                            </svg>
                        </a>
                    </li>
                </ul>

                <div class="footer__contact">
                    <p class="footer__contact--text">Feel free to contact </p>
                    <a class="footer__contact--tel" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
                </div>
            </div>
        </div>

        <div class="footer__copyright">
            <p class="footer__copyright--begin">&copy; 2022 - IceCream.</p>
            <p class="footer__copyright--end">All Rights Reserved.</p>
        </div>
    </div>
</footer>