<footer class="hend-gadget">
  <h2 class="visually-hidden">Copyright and developers</h2>
  <div class="footer__container ">
    <p class="footer__copyright">
      &copy; 2022 <span class="footer__lines">|</span> All Rights Reserved
      <span class="footer__lines">|</span>
    </p>
    <p class="footer__developers">
      Developed with
      <svg class="icon-group">
        <use href="/images/svg/sprite.svg#icon-group">
      </svg>

      by <span class="footer__team">&nbsp;GoIT Students</span>
    </p>
  </div>
</footer >

<footer class="desktop">
    <h2 class="visually-hidden">Copyright and developers</h2>
    <div class="footer__container ">
        <p class="footer__copyright">
          &copy; 2022 <span class="footer__lines">|</span> All Rights Reserved
          <span class="footer__lines">|</span>
        </p>
        <p class="footer__developers">
          Developed with
        <div id="heart"></div>
    
          by <span class="footer__team">&nbsp;GoIT Students</span>
        </p>
      </div>
</footer>
