<header class="header__library matrix">
  <h2 class="visually-hidden">Head library and navigation</h2>
  <div class="header-container">
    <div class="header__home">
      <a href="./index.html" class="header__logo">
        <svg class="header__icon" height="24" width="24">
          <use href="images/svg/sprite.svg#icon-film"></use>
        </svg>
      </a>
      <h1 class="header__title sparkle"><a href="./index.html">Filmoteka</a></h1>

      <div class="container-logo-name">
        <a href="./index.html">
          <span>F</span>
          <span>i</span>
          <span>l</span>
          <span>m</span>
          <span>o</span>
          <span>t</span>
          <span>e</span>
          <span>k</span>
          <span>a</span>
        </a>
      </div>
    </div>
    <div class="header__search">
      <ul class="header__list--library--btn">
        <li class="header__search--item">
          <button class="library__search--btn" data-action="show-watched">WATCHED</button>
        </li>
        <li class="header__search--item">
          <button class="library__search--btn" data-action="show-queue">QUEUE</button>
        </li>
      </ul>
    </div>
    <nav class="header__navigation">
      <ul class="header__list">
        <li class="header__item">
          <a href="./index.html" class="header__link header-home-js">HOME</a>
        </li>
        <li class="header__item">
          <a href="./index-library.html" class="header__link current header-library-js"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
