<header class="header__library">
  <div class="header-container">
    <div class="header__home pointer-library">
      <a href="./index.html" class="header__logo">
        <svg class="header__icon" height="24" width="24">
          <use href="images/svg/sprite.svg#icon-film"></use>
        </svg>
      </a>
      <h1 class="header__title">Filmoteka</h1>
    </div>
    <div class="header__search">
      <ul class="header__list--library--btn">
        <li class="heade__search--item"><button class="library__search--btn">WATCHED</button></li>
        <li class="heade__search--item"><button class="library__search--btn">QUEUE</button></li>
      </ul>
      <!-- <p class="header__search--error"> -->
      <!-- Search result not successful. Enter the correct movie name and
        </p> -->
    </div>
    <nav class="header__navigation">
      <ul class="header__list">
        <li class="header__item">
          <a href="./index.html" class="header__link">HOME</a>
        </li>
        <li class="header__item">
          <a href="./index-library.html" class="header__link current">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
