<div class="backdrop is-hidden">
    <div class="modal-team">
        <button type="button" class="close">
            <svg width=18px height=18px>
                <use href="images/svg/sprite.svg#icon-close"></use>
            </svg>
        </button>    
        <ul class="team-list">
            <!-- <li class="developer">
                <img class="developer-photo" src="" alt="Photo Myroslav Kozar">
                <p class="developer-data">Myroslav Kozar</p>
                <p class="developer-position">Team Lead</p>
                <a class="developer-github" href="https://github.com/myroslav111" target="_blank" rel="noreferrer noopener"><svg
                        class="icon-github">
                        <use href="images/svg/sprite.svg#icon-github">
                    </svg></a>
            </li>
            <li class="developer">
                <img class="developer-photo" src="" alt="Photo Volodymyr Kavun">
                <p class="developer-data">Volodymyr Kavun</p>
                <p class="developer-position">Scrum Master</p>                
                <a class="developer-github" href="https://github.com/VolodymyrKavun" target="_blank" rel="noreferrer noopener"><svg
                        class="icon-github">
                        <use href="images/svg/sprite.svg#icon-github">
                    </svg></a>
            </li>
            <li class="developer">
                <img class="developer-photo" src="" alt="Photo Maksim Peltek">
                <p class="developer-data">Maksim Peltek</p>
                <p class="developer-position">Developer</p>
                <a class="developer-github" href="https://github.com/Maksimchik36" target="_blank" rel="noreferrer noopener"><svg
                        class="icon-github">
                        <use href="images/svg/sprite.svg#icon-github">
                    </svg></a>
            </li> -->
        </ul>
    </div>
</div>