<div class="backdrop is-hidden">
    <div class="modal-team">
        <ul class="team-list">
            <li class="developer">
                <img class="developer-photo" src="" alt="Photo Myroslav Kozar">
                <p class="developer-data">Myroslav Kozar</p>
                <a class="developer-github" href="https://github.com/myroslav111" target="_blank" rel="noreferrer noopener"><svg class="icon-github">
                    <use href="images/svg/sprite.svg#icon-github">
                </svg></a>
            </li>
            <li class="developer">
                <img class="developer-photo" src="" alt="Photo Volodymyr Kavun">
                <p class="developer-data">Volodymyr Kavun</p>
                <a class="developer-github" href="https://github.com/VolodymyrKavun" target="_blank" rel="noreferrer noopener"><svg class="icon-github">
                    <use href="images/svg/sprite.svg#icon-github">
                </svg></a>
            </li>
            <li class="developer">
                <img class="developer-photo" src="" alt="Photo Maksim Peltek">
                <p class="developer-data">Maksim Peltek</p>
                <a class="developer-github" href="https://github.com/Maksimchik36" target="_blank" rel="noreferrer noopener"><svg class="icon-github">
                    <use href="images/svg/sprite.svg#icon-github">
                </svg></a>
            </li>
            
        </ul>
    </div>
</div>