<nav class="nav is-hidden">
  <ul class="pager">
    <!-- <li class="pager__item pager__item--prev">
      <button class="pager__link">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewbox="0 0 8 12">
          <g fill="none" fill-rule="evenodd">
            <path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
          </g>
        </svg>
      </button>
    </li>
    <li class="pager__item"><button class="pager__link">...</button></li>

    <li class="pager__item"><button class="pager__link">...</button></li>
    <li class="pager__item pager__item--next">
      <button class="pager__link">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewbox="0 0 8 12">
          <g fill="none" fill-rule="evenodd">
            <path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
          </g>
        </svg>
      </button>
    </li> -->
  </ul>
</nav>

<!-- <li class="pager__item"><button class="pager__link">1</button></li>
    <li class="pager__item active"><button class="pager__link">2</button></li>
    <li class="pager__item"><button class="pager__link">3</button></li>
    <li class="pager__item"><button class="pager__link">4</button></li>
    <li class="pager__item"><button class="pager__link">5</button></li>
    <li class="pager__item"><button class="pager__link">6</button></li> -->
